<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!------ Icon----->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
 
    
    <title>Error</title>
  </head>
  <body class="error_page">
        {{>header}}
<!-- End- Navbar -->

<div class="container-fluid main_menu ">
    <div class="row">
        {{!-- <div class="col-md-10 col-12 mx-auto">
            <div class="row">


                <div class="col-md-10 col-12 main_rigth align-items-center"></div>
                    <figure>
                        <img src="./image/error.png" alt="Profile" class="img-fluid" title="Konu">
                    </figure>
 
                    <p>Welcome</p>
                    <h1>I am  a  <span class="text_color">MERN Stack</span> developer & Freelancer </h1>
                    <a href="https://github.com/Konu9712"><button class="btn btn-outline-primary" target="_blank">GitHub <i class="fab fa-github"></i></button> 
                    </a>
                </div>    


                  

            </div> --}}

            <div class=" col-md-10 col-12 align-items-center mx-auto error">
                 <figure class="error_figure">
                        <img src="./image/error.png" alt="Profile" class="img-fluid error_img" title="Konu">
                </figure>
                <div class=" conatiner btn_container">
                    <a href="/" class="back_btn"><button class="btn btn-outline-primary" target="_blank"> <i class="fas fa-arrow-alt-circle-left"></i>    Go Back  </button> 
                    </a>
                </div>
                 

            </div>
        </div>    
    </div>
</div>


{{>footer}}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>